

h1 {
    text-align: center;
    font-size: 250%;
    background-image: url(images/indexBackground.jpg);
    background-size: cover;
}

h2{
    font-size: 150%;
    margin-left: 150px;
    margin-right: 150px;
}

p{
    font-family: sans-serif;
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
    
}

p2{
    font-size: 50%;
}

body{
    background-color:blanchedalmond;
    
}

ol{
    margin-left: 150px;
    margin-right: 150px;
}

.recipeList{
    list-style-type:upper-roman;
}
.recipe:hover{
    text-decoration: underline;
    font-weight: bold;
    
}
    
.infoBlock{
    border: groove;
    border-color: burlywood;
    background-color:bisque;
}
